{{!-- sublayouts/grid-wide.hbs --}}

<section class="container-fluid grid-wide {{class}}" id="{{id}}">
    <div class="row">
        <div class="container">
            <div class="row {{class-row}}">
                {{> @partial-block }}
            </div>
        </div>
    </div>
</section>
