{{!-- sublayouts/grid1.hbs --}}

<section class="container-fluid grid1 {{class}}" id="{{id}}">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    {{> @partial-block }}
                </div>
            </div>
        </div>
    </div>
</section>
