{{!-- sublayouts/grid-full.hbs --}}

<section class="container-fluid grid-full {{class}}" id="{{id}}">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {{> @partial-block }}
        </div>
    </div>

</section>
