{{!-- sublayouts/grid-wide.hbs --}}

<section class="container-fluid grid-wide {{class}}" id="{{id}}">
    <div class="row">
        <div class="container">
            {{> @partial-block }}
        </div>
    </div>
</section>
