{{!-- components/c004-divider.hbs --}}

<!-- COMPONENT START -->
<div class="container c004-divider">
    <div class="row">
        <div class="col-md-12">
            <hr class="section-divider" />
        </div>
    </div>
</div>
<!-- COMPONENT END -->
