{{!-- components/c005-blockquote.hbs --}}

<!-- COMPONENT START -->
<div class="c005-blockquote z-depth-5 rounded">
    <blockquote class="blockquote">
        <p class="mb-0">{{{body}}}</p>
        <footer class="blockquote-footer mb-3">{{source-name}} <cite title="Source Title">{{source-location}}</cite></footer>
    </blockquote>
</div>
<!-- COMPONENT END -->
