{{!-- components/c006-image-block__point.hbs --}}

<!-- COMPONENT START -->
<section class="grid-item wow fadeIn animated">
    <img data-src="{{img-src}}" class="img-fluid grayscale lazy" alt="{{img-alt}}">
</section>
<!-- COMPONENT END -->
