{{!-- components/c010-events.hbs --}}

<!-- COMPONENT START -->
{{#> sublayouts/grid-row }}
    {{#> sublayouts/grid-wide__col12 }}
        <div class="row">
            <div class="col-12">
                <div class="line time-line">
                    <span class="dot dot-start"></span>
                    <span class="dot dot-nov"></span>
                    <span class="dot dot-dec"></span>
                    <span class="dot dot-jan"></span>
                    <span class="dot dot-feb"></span>
                    <span class="dot dot-mar"></span>
                    <span class="dot dot-apr"></span>
                    <span class="dot dot-may"></span>
                    <span class="dot dot-end"></span>
                </div>
                <div class="line events-line">
                    <span class="line-label">Events</span>
                    <span class="dot dot-run dot-herts" data-toggle="tooltip" data-placement="top" title="Herts - 10km"></span>
                    <span class="dot dot-cycle dot-cycle1" data-toggle="tooltip" data-placement="top" title="Sportive - 48km "></span>
                    <span class="dot dot-run dot-morun" data-toggle="tooltip" data-placement="top" title="Morun - 10km"></span>
                    <span class="dot dot-run dot-hatfield5" data-toggle="tooltip" data-placement="top" title="Hatfield 5 - 8km"></span>
                    <span class="dot dot-run dot-mkhalf" data-toggle="tooltip" data-placement="top" title="Milton Keynes Half"></span>
                    <span class="dot dot-dual dot-ashridgedual" data-toggle="tooltip" data-placement="top" title="Ashridge Duathlon"></span>
                    <span class="dot dot-dual dot-ashridgedual2" data-toggle="tooltip" data-placement="top" title="Ashridge Duathlon again"></span>

                    <!--
                    <span class="dot dot-run dot-windsorhalf" data-toggle="tooltip" data-placement="top" title="Windsor Half - 21km"></span>
                    <span class="dot dot-tri dot-marlowe dot-to-book" data-toggle="tooltip" data-placement="top" title="Marlowe - Olympic"></span>
                    <span class="dot dot-cycle dot-cycle2 dot-to-book" data-toggle="tooltip" data-placement="top" title="Sportive 2 ???"></span>
                    <span class="dot dot-run dot-harpenden dot-to-book" data-toggle="tooltip" data-placement="top" title="Harpenden Half - 21km"></span>
                    <span class="dot dot-cycle dot-cycle3 dot-to-book" data-toggle="tooltip" data-placement="top" title="Sportive 3 ???"></span>
                    <span class="dot dot-cycle dot-cycle4 dot-to-book" data-toggle="tooltip" data-placement="top" title="Sportive 4 ???"></span>
                    -->
                </div>
                <div class="line target-line">
                    <span class="line-label">Targets</span>
                    <span class="dot dot-target dot-target-herts" data-toggle="tooltip" data-placement="top" title="00:44:59"></span>
                    <span class="dot dot-target dot-target-cycle1" data-toggle="tooltip" data-placement="top" title="02:09:59"></span>
                    <span class="dot dot-target dot-target-morun" data-toggle="tooltip" data-placement="top" title="00:43:59"></span>
                    <span class="dot dot-target dot-target-hatfield5" data-toggle="tooltip" data-placement="top" title="00:34:59"></span>
                    <span class="dot dot-target dot-target-mkhalf" data-toggle="tooltip" data-placement="top" title="01:49:59"></span>
                    <span class="dot dot-target dot-target-ashridge" data-toggle="tooltip" data-placement="top" title="02:59:59"></span>
                    <span class="dot dot-target dot-target-ashridge2" data-toggle="tooltip" data-placement="top" title="02:49:59"></span>
                    <!--<span class="dot dot-target dot-target-windsorhalf" data-toggle="tooltip" data-placement="top" title="01:39:59"></span>-->
                </div>
                <div class="line current-line">
                    <span class="line-label">Status</span>
                    <span class="dot dot-target-herts dot-success" data-toggle="tooltip" data-placement="top" title="00:43:40"></span>
                    <span class="dot dot-target-cycle1 dot-success" data-toggle="tooltip" data-placement="top" title="02:04:00"></span>
                    <span class="dot dot-target-morun dot-success" data-toggle="tooltip" data-placement="top" title="00:43:10"></span>
                    <span class="dot dot-target-hatfield5 dot-success" data-toggle="tooltip" data-placement="top" title="00:34:26"></span>
                    <span class="dot dot-target-mkhalf dot-success" data-toggle="tooltip" data-placement="top" title="01:39:23"></span>
                    <span class="dot dot-target-ashridge dot-success" data-toggle="tooltip" data-placement="top" title="02:48:23"></span>
                </div>
            </div>
        </div>
    {{/sublayouts/grid-wide__col12 }}
{{/sublayouts/grid-row }}
<!-- COMPONENT END -->
