{{!-- components/c013-injuries__point.hbs --}}

<!-- COMPONENT START -->
<span class="c013-injuries__point {{point-class}}" style="top:{{position-y}};left:{{position-x}};" data-toggle="tooltip" data-placement="top" title="{{point-title}}">&nbsp;
</span>
<!-- COMPONENT END -->
