{{!-- components/c013-injuries.hbs --}}

<!-- COMPONENT START -->
<div class="c013-injuries">
    <div class="c013-injuries__wrapper">
        <img class="c013-injuries__img" src="{{img-src}}" alt="{{img-alt}}">
        {{> @partial-block }}
    </div>
</div>
<!-- COMPONENT END -->
