{{!-- components/header__point--dropdown.hbs --}}

<!-- COMPONENT START -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{point-title}}</a>
    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
        {{> @partial-block }}
    </div>
</li>
<!-- COMPONENT END -->
