/* ===============
   STRAVA DATA
   =============== */
.strava {

    $color-strava: #fc4c02; // ORANGE
    $color-default: #333; // BLACK
    $color-swim: #1693A7; // Water = Blue
    $color-ride: #3E6B48; // Bike =
    $color-run: #D22042; // Run =
    $color-stats: #613860; // Stats =
    $color-targets: #666; // Targets =

    @mixin transition() {
        transition: all 1s;
    }

    body, html {
        height:100vh;
        width:100vw;
        overflow:hidden;
    }

    body {
        background-color: #fc4c02;
    }

    .react-root {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        position: relative;
        main {
            margin-top:0;
            height:100vh;
            width:100vw;
            overflow:hidden;

            // ====================
            // LOADING
            // ====================
            .loaded-new {
                transition-delay: 0.1s;
            }
            .loader-wrapper {
                background-color: $color-strava;
                position:absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100vw;
                height: 100vh;
                transform: translate(0%,0%);
                .lds-ellipsis {
                    display: inline-block;
                    position: relative;
                    width: 64px;
                    height: 64px;
                    left: 50vw;
                    top: 50vh;
                    z-index: 99999999;
                }
                &.loading-new-reverse {
                    opacity:1;
                }
                &.loaded-new-reverse {
                    opacity:0;
                    transition: opacity 0.5s ease-in;
                    transition-delay: 0.5s;
                }
            }

            .loader-shape {
                --path: #fff;
                --dot: #fff;
                --duration: 3s;
                width: 44px;
                height: 44px;
                position: absolute;
                top: 50vh;
                left: 50vw;
                transform: translateY(-50%) translateX(-50%);
                &:before {
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    background: var(--dot);
                    top: 37px;
                    left: 19px;
                    transform: translate(-18px, -18px);
                    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
                }
                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    polygon {
                        fill: none;
                        stroke: var(--path);
                        stroke-width: 10px;
                        stroke-linejoin: round;
                        stroke-linecap: round;
                    }
                    polygon {
                        stroke-dasharray: 145 (221 - 145) 145 (221 - 145);
                        stroke-dashoffset: 0;
                        animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
                    }
                }
                &.triangle {
                    width: 48px;
                    &:before {
                        left: 21px;
                        transform: translate(-10px, -18px);
                        animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
                    }
                }
            }

            @keyframes pathTriangle {
                33% {
                    stroke-dashoffset: 74;
                }
                66% {
                    stroke-dashoffset: 147;
                }
                100% {
                    stroke-dashoffset: 221;
                }
            }

            @keyframes dotTriangle {
                33% {
                    transform: translate(0, 0);
                }
                66% {
                    transform: translate(10px, -18px);
                }
                100% {
                    transform: translate(-10px, -18px);
                }
            }

            // LOADING END
            // =====

            // ====================
            // THEMES
            // ====================
            &.theme-light {
                .text-color {
                    color: white !important;
                    //transition: all 1s;
                }
                .data-wrapper {
                    .c007-data-block {
                        .dataPoint {
                            &:before {
                                background-color: white;
                                //transition: all 1s;
                            }
                        }
                    }
                }
            }
            &.theme-dark {
                .text-color {
                    color: $theme-pink !important;
                    transition: all 1s;
                }
                .data-wrapper {
                    .c007-data-block {
                        .dataPoint {
                            &:before {
                                background-color: $theme-pink;
                                transition: all 1s;
                            }
                        }
                    }
                }
            }
            .theme-toggle {
                position: absolute;
                bottom:5vh;
                left:calc(50vw);
                z-index:4;
                background:none;
                border:none;
                padding:0;
                margin:0;
                color: white;
                font-size: .75rem;
                transform: translateX(-50%) translateY(50%);
                &:focus {
                    outline: none;
                }
                span {
                    height:16px;
                    width:16px;
                    display:block;
                    filter: invert(100%);
                }
                &.theme-light {
                    > span {
                        background:url(https://cdn2.iconfinder.com/data/icons/essential-web-2/50/star-favorite-favourite-rating-score-64.png) center no-repeat;
                        background-size: 16px;
                    }
                }
                &.theme-dark {
                    > span {
                        background:url(https://cdn2.iconfinder.com/data/icons/essential-web-2/50/sun-shine-bright-sunny-ray-64.png) center no-repeat;
                        background-size: 16px;
                    }
                }
            }
            // THEMES END
            // =====

            // ====================
            // BACKGROUNDS
            // ====================
            .background {
                background:url('../img/app/triathlon/self/norm.jpg') center;
                background-size: cover;
                position:absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100vw;
                height: 100vh;
                filter: grayscale(90%);
                z-index:0;
                transition: all 1s;
                &.All {
                    background:url('../img/app/triathlon/self/norm.jpg') center;
                    background-size: cover;
                    transition: all 1s;
                }
                &.Swim {
                    background:url('../img/app/triathlon/self/swim.jpg') center;
                    background-size: cover;
                    transition: all 1s;
                }
                &.Ride {
                    background:url('../img/app/triathlon/self/bike.jpg') center;
                    background-size: cover;
                    transition: all 1s;
                }
                &.Run {
                    background:url('../img/app/triathlon/self/run.jpg') center;
                    background-size: cover;
                    transition: all 1s;
                }
                &.blurred {
                    filter: blur(10px) grayscale(90%);
                    top: -5vh;
                    left: -5vw;
                    right: 0;
                    bottom: 0;
                    width: 110vw;
                    height: 110vh;
                }
            }
            .background-mask {
                background: $color-default;
                opacity: 0.75;
                position:absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100vw;
                height: 100vh;
                z-index:0;
                transition: all 1s;
                &.All {
                    background: $color-default;
                    transition: all 1s;
                }
                &.Swim {
                    background:$color-swim;
                    transition: all 1s;
                }
                &.Ride {
                    background:$color-ride;
                    transition: all 1s;
                }
                &.Run {
                    background:$color-run;
                    transition: all 1s;
                }
                &.Stats {
                    background:$color-stats;
                    transition: all 1s;
                }
                &.Targets {
                    background:$color-targets;
                    transition: all 1s;
                }
            }
            &.theme-dark {
                .background-mask {
                    background:#1D1313;
                    opacity: 0.9;
                    &.All {
                        background:#1D1313;
                    }
                    &.Swim {
                        background:#1D1313;
                    }
                    &.Ride {
                        background:#1D1313;
                    }
                    &.Run {
                        background:#1D1313;
                    }
                    &.Stats {
                        background:#1D1313;
                    }
                }
            }
            // BACKGROUNDS END
            // =====

            // ====================
            // EVENT HEADERS
            // ====================
            .event-header {
                position: absolute;
                z-index:4;
                top:15vh;
                left:20vw;
                font-weight: bold;
            }
            .event-header-next {
                position: absolute;
                z-index:4;
                top:15vh;
                right:0vw;
                font-weight: bold;
                opacity: .25;
                transform: translateX(33%);
            }
            // EVENT HEADERS END
            // =====

            // ====================
            // THUMB BUTTONS
            // ====================
            .thumbButtons {
                .thumbButtons--list {
                    list-style: none;
                }
                ul li a {
                    &:focus,
                    &:active {
                        text-decoration: underline;
                        color:white;
                    }
                }
                &--default {
                    position: fixed;
                    right: 10vw;
                    bottom: 4vh;
                    border-radius: 100%;
                    //width: 45px;
                    padding-left: 0;
                    padding-right: 0;
                    background:transparent!important;
                    z-index:999999;
                    color:white;
                    text-align: right;
                    font-size:0.75rem;
                    &__All{
                        bottom: 7.5vh;
                        span {
                            background: url('https://cdn0.iconfinder.com/data/icons/sport-2-android-l-lollipop-icon-pack/24/walking-16.png');
                        }
                    }
                    &__Swim {
                        bottom: 9.5vh;
                        span {
                            background: url('https://cdn0.iconfinder.com/data/icons/sport-2-android-l-lollipop-icon-pack/24/swimming-16.png');
                        }
                    }
                    &__Ride {
                        bottom: 11.5vh;
                        span {
                            background: url('https://cdn0.iconfinder.com/data/icons/sport-2-android-l-lollipop-icon-pack/24/time_trial_biking-16.png');
                        }
                    }
                    &__Run {
                        bottom: 13.5vh;
                        span {
                            background: url('https://cdn0.iconfinder.com/data/icons/sport-2-android-l-lollipop-icon-pack/24/walking-16.png');
                        }
                    }
                    &__Stats {
                        bottom: 15.5vh;
                        span {
                            background: url('https://cdn0.iconfinder.com/data/icons/sport-2-android-l-lollipop-icon-pack/24/walking-16.png');
                        }
                    }
                    &__Targets {
                        bottom: 17.5vh;
                        span {
                            background: url('https://cdn0.iconfinder.com/data/icons/sport-2-android-l-lollipop-icon-pack/24/walking-16.png');
                        }
                    }
                }
                // INCREMENTAL ANIMATION DELAY
                $max: 10;
                $step: 1;
                @for $i from 1 through ceil($max/$step) {
                    $value: ($i - 1)*$step + 1;
                    //.test_#{$value} {
                    //    top: $i;
                    //    left: $value;
                    //}
                    & ul li:nth-child(#{$value}) a{
                        //top: $i+px;
                        //left: $value+px;
                        animation-delay: #{$value * 100}ms;
                    }
                }
            }
            // THUMB BUTTONS END
            // ======

            // ====================
            // DOTS
            // ====================
            .dots {
                position: absolute;
                left:10vw;
                bottom:5vh;
                transform: translateY(50%);
                text-align: center;
                z-index:3;
                margin:0;
                padding:0;
                display:flex;
                align-items: center;
                $colorToUse: white;
                &.theme-dark {
                    $colorToUse: $theme-pink;
                    &.All {
                        li.keyDotsNewAll {
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Swim {
                        li.keyDotsNewSwim{
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Ride {
                        li.keyDotsNewRide {
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Run {
                        li.keyDotsNewRun {
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Stats {
                        li.keyDotsNewStats {
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Targets {
                        li.keyDotsNewTargets {
                            background:rgba($colorToUse,1);
                        }
                    }
                }
                &.theme-light{
                    $colorToUse: white;
                    &.All {
                        li.keyDotsNewAll {
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Swim {
                        li.keyDotsNewSwim{
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Ride {
                        li.keyDotsNewRide {
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Run {
                        li.keyDotsNewRun {
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Stats {
                        li.keyDotsNewStats {
                            background:rgba($colorToUse,1);
                        }
                    }
                    &.Targets {
                        li.keyDotsNewTargets {
                            background:rgba($colorToUse,1);
                        }
                    }
                }
                li {
                    height:0.4rem;
                    width:0.4rem;
                    display: inline-block;
                    background:rgba($colorToUse,0.4);
                    margin:0 0.1rem;
                    padding:0;
                    border-radius: 100%;
                    transition: all 0.2s;
                }

            }
            // DOTS
            // =====

            // ====================
            // DATA
            // ====================
            .data-wrapper {
                div:nth-child(1) {
                    animation-delay: 0.25s;
                }
                div:nth-child(2){
                    animation-delay: 0.5s;
                }
                div:nth-child(3){
                    animation-delay: 0.75s;
                }
                div:nth-child(4){
                    animation-delay: 1s;
                }
                .c007-data-block {
                    position: absolute;
                    z-index:4;
                    left:20vw;
                    p {
                        margin-left:3px;
                        strong {
                            font-weight: bold;
                        }
                    }
                    .dataPoint {
                        position: relative;
                        font-weight: 100;
                        margin-left:0;
                        &:before {
                            content:'';
                            height:2rem;
                            width:2rem;
                            display: block;
                            position: absolute;
                            left:-10vw;
                            top:.4rem;
                            transition: 1s;
                            //background-color: $theme-green;
                            //filter: invert(100%);
                        }
                        small {
                            font-weight: 100;
                            font-size: 66%;
                        }
                    }
                    &.point1 {
                        top:30vh;
                    }
                    &.point2 {
                        top:45vh;
                    }
                    &.point3 {
                        top:60vh;
                    }
                    &.point4 {
                        top:75vh;
                    }
                    &.Sessions {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/svg/sessions.svg') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/loop.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/loop.svg');
                                mask-size: 2rem;
                            }
                        }
                    }
                    &.Weight {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/user-person-account-avatar-customer-64.png') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/person.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/person.svg');
                                mask-size: 2rem;
                            }
                        }
                    }
                    &.Time {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/time-clock-date-analog-period-64.png') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/clock.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/clock.svg');
                                mask-size: 2rem;
                            }
                        }
                    }
                    &.Bodyfat {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/user-group-team-duo-partner-64.png') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/persons.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/persons.svg');
                                mask-size: 2rem;
                            }
                        }
                    }
                    &.Distance {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/trasfer-back-forward-arrow-horizontal-64.png') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/arrows-horizontal.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/arrows-horizontal.svg');
                                mask-size: 2rem;
                            }
                        }
                    }
                    &.VO2 {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/signal-wave-distribute-share-sound-64.png') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/wave.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/wave.svg');
                                mask-size: 2rem;
                            }
                        }
                    }
                    &.Swim {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/signal-wave-distribute-share-sound-64.png') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/cross.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/cross.svg');
                                mask-size: 2rem;
                                background-color: $theme-orange;
                            }
                        }
                    }
                    &.Ride {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/signal-wave-distribute-share-sound-64.png') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/cross.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/cross.svg');
                                mask-size: 2rem;
                                background-color: $theme-orange;
                            }
                        }
                    }
                    &.Run {
                        .dataPoint {
                            &:before {
                                //background:url('../img/app/triathlon/icons/signal-wave-distribute-share-sound-64.png') center no-repeat;
                                //background-size: 2rem;
                                //background-color: $theme-pink;
                                -webkit-mask-image: url('../img/app/triathlon/icons/svg/check.svg');
                                mask-image: url('../img/app/triathlon/icons/svg/check.svg');
                                mask-size: 2rem;
                                background-color: $theme-green;
                            }
                        }
                    }
                }
                .latest-event {
                    position: absolute;
                    z-index:4;
                    left:20vw;
                    right:20vw;
                    top: 75vh;
                    color:white;
                    font-size:0.75rem;
                    line-height: 1rem;
                    font-weight: 200;
                }
            }
            // DATA END
            // =====


        }
    }

}
