{{!-- pages/index.hbs --}}

{{#> layouts/starter title="Home" }}

    {{#*inline "header-block"}}
        {{#> components/header
                brand='Ehhwhat'
                homepage=true
        }}
            {{> components/header__point
                    point-title='Introduction'
                    point-href='introduction'
            }}
            {{> components/header__point
                    point-title='Generic'
                    point-href='generic'
            }}
            {{> components/header__point
                    point-title='Apps'
                    point-href='apps'
            }}
            {{> components/header__point
                    point-title='React'
                    point-href='react'
            }}
            {{> components/header__point
                    point-title='Javascript'
                    point-href='js'
            }}
            {{> components/header__point
                    point-title='jQuery'
                    point-href='jquery'
            }}
        {{/components/header}}
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> sublayouts/grid1
                id='introduction'
        }}
            {{> components/c001-basic-content
                    heading-primary='Hello, world!'
                    heading-secondary='How are you?'
                    body-content='
                    <p><span class="badge badge-pill badge-default">Updated 25/01/2019</span> <span class="badge badge-pill badge-default">v13</span> <span class="badge
                    badge-pill badge-danger">Work in progress</span></p>
                    <h3 class="mt-5 h3-responsive">Purpose</h3>
                    <p>This repo will be used for code examples, they will range from Vanilla JavaScript to jQuery to React and maybe some other stuff as well.</p>
                    <h3 class="mt-5 h3-responsive">Recent work</h3>
                    <ul class="">
                        <li class=""><a href="app/triathlon.html" title="View Triathlon">Triathlon</a></li>
                        <li class=""><a href="general/cv-flat.html" title="View CV">CV flat</a></li>
                        <li class=""><a href="general/styletile.html" title="View Style tile">Style tile</a></li>
                    </ul>
                '
            }}
        {{/sublayouts/grid1}}

        {{> components/c002-image-content-cta
                id='generic'
                img1-url='https://cdn4.iconfinder.com/data/icons/logos-3/504/Bootstrap-128.png'
                img1-alt=''
                img1-class=''
                heading-primary='Generic'
                heading-secondary='Framework building stuff'
                body-content='
                    <p>This section will cover things like branding, and markup templating. Most of this has been built using Handlebars.</p>
                    <h3 class="mt-5 h3-responsive">Links</h3>
                    <ul class="">
                        <li class=""><a href="general/styletile.html" title="">Style tile</a></li>
                        <li class=""><a href="general/components.html" title="">Components</a></li>
                        <li class=""><a href="general/sublayouts.html" title="">Sublayouts</a></li>
                    </ul>
                '
        }}

        {{> components/c002-image-content-cta
                id='apps'
                img1-url='https://cdn4.iconfinder.com/data/icons/logos-3/504/PhoneGap-128.png'
                img1-alt=''
                img1-class=''
                heading-primary='Apps'
                heading-secondary='Standalone demo`s'
                body-content='
                    <p>Code I consider to be a standalone application or site.</p>
                '
        }}
        {{#> sublayouts/grid-wide }}
            {{#> sublayouts/grid-wide__colfluid }}
                {{> components/c012-card
                        img-src='https://images.pexels.com/photos/684385/pexels-photo-684385.jpeg?auto=compress&w=640'
                        heading='React CV'
                        body='
                        <p class="mb-0"><strong>Tech:</strong></p>
                        <ul class="list-inline">
                            <li class="list-inline-item">React</li>
                            <li class="list-inline-item">Axios</li>
                            <li class="list-inline-item">SASS</li>
                            <li class="list-inline-item">JS</li>
                            <li class="list-inline-item">JSON</li>
                        </ul>
                        <p class="mb-0"><strong>Details:</strong></p>
                        <p>A React app based around a CV, using Axios to get data, multiple React components, toggling of state etc.</p>
                        <a href="react/cv-full.html" class="btn btn-outline-dark waves-effect" title="View this">View React CV <i class="fa fa-arrow-right"></i></a>
                        '
                }}
            {{/sublayouts/grid-wide__colfluid}}
            {{#> sublayouts/grid-wide__colfluid }}
                {{> components/c012-card
                        img-src='https://images.pexels.com/photos/1166657/pexels-photo-1166657.jpeg?auto=compress&w=640'
                        heading='React bookshelf'
                        body='
                        <p class="mb-0"><strong>Tech:</strong></p>
                        <ul class="list-inline">
                            <li class="list-inline-item">React</li>
                            <li class="list-inline-item">SASS</li>
                            <li class="list-inline-item">JS</li>
                            <li class="list-inline-item">jQuery</li>
                            <li class="list-inline-item">JSON</li>
                        </ul>
                        <p class="mb-0"><strong>Details:</strong></p>
                        <p>Basic React app which allows a user to add books to a shelf and then remove them.</p>
                        <a href="react/addremove.html" class="btn btn-outline-dark waves-effect" title="View this">View Bookshelf <i class="fa fa-arrow-right"></i></a>
                        '
                }}
            {{/sublayouts/grid-wide__colfluid}}
            {{#> sublayouts/grid-wide__colfluid }}
                {{> components/c012-card
                        img-src='https://images.pexels.com/photos/1263425/pexels-photo-1263425.jpeg?auto=compress&w=640'
                        heading='Triathlon training'
                        body='
                        <p class="mb-0"><strong>Tech:</strong></p>
                        <ul class="list-inline">
                            <li class="list-inline-item">Handlebars</li>
                            <li class="list-inline-item">SASS</li>
                            <li class="list-inline-item">JS</li>
                            <li class="list-inline-item">jQuery</li>
                            <li class="list-inline-item">JSON</li>
                        </ul>
                        <p class="mb-0"><strong>Details:</strong></p>
                        <p>Blog type site I have been building to track all my training towards an Ironman 70.3 event.</p>
                        <a href="app/triathlon.html" class="btn btn-outline-dark waves-effect" title="View this">View training <i class="fa fa-arrow-right"></i></a>
                        '
                }}
            {{/sublayouts/grid-wide__colfluid}}
            {{#> sublayouts/grid-wide__colfluid }}
                {{> components/c012-card
                        img-src='https://images.pexels.com/photos/355988/pexels-photo-355988.jpeg?auto=compress&w=640'
                        heading='Curriculum Vitae'
                        body='
                        <p class="mb-0"><strong>Tech:</strong></p>
                        <ul class="list-inline">
                            <li class="list-inline-item">Handlebars</li>
                            <li class="list-inline-item">SASS</li>
                            <li class="list-inline-item">JS</li>
                            <li class="list-inline-item">jQuery</li>
                        </ul>
                        <p class="mb-0"><strong>Details:</strong></p>
                        <p>Flat HTML version of my CV, allows for improved experience over a simple word document.</p>
                        <a href="general/cv-flat.html" class="btn btn-outline-dark waves-effect" title="View this">View CV <i class="fa fa-arrow-right"></i></a>
                        '
                }}
            {{/sublayouts/grid-wide__colfluid}}
        {{/sublayouts/grid-wide}}

        {{> components/c002-image-content-cta
                id='react'
                img1-url='https://cdn4.iconfinder.com/data/icons/logos-3/426/react_js-128.png'
                img1-alt=''
                img1-class=''
                heading-primary='React'
                heading-secondary='Code demonstrations built using React'
                body-content='
                    <p>All based around the idea of a bookshelf and adding books to it, similar to Good Reads website.</p>
                    <h3 class="mt-5 h3-responsive">Links</h3>
                    <ul class="">
                        <li class=""><a href="react/static.html" title="">Static</a></li>
                        <li class=""><a href="react/inline.html" title="">Inline props</a></li>
                        <li class=""><a href="react/array.html" title="">Array</a></li>
                        <li class=""><a href="react/dynamic.html" title="">Dynamic grid</a></li>
                        <li class=""><a href="react/state.html" title="">Toggle state</a></li>
                        <li class=""><a href="react/add.html" title="">Add items</a></li>
                        <li class=""><a href="react/addremove.html" title="">Add or Remove items</a></li>
                        <li class=""><a href="react/cv.html" title="">CV</a></li>
                    </ul>
                '
        }}

        {{> components/c002-image-content-cta
                id='js'
                img1-url='https://cdn4.iconfinder.com/data/icons/logos-3/504/javascript-128.png'
                img1-alt=''
                img1-class=''
                heading-primary='JavaScript'
                heading-secondary='Code demonstations in vanilla JavaScript'
                body-content='
                    <p>Very simple maths functions up to AJAX data requests and the manipulation of the returned JSON data.</p>
                    <h3 class="mt-5 h3-responsive">Links</h3>
                    <ul>
                        <li class=""><a href="javascript/maths.html" title="">Maths</a></li>
                        <li class=""><a href="javascript/basics.html" title="">Basics</a></li>
                        <li class=""><a href="javascript/arrays.html" title="">Arrays</a></li>
                        <li class=""><a href="javascript/objects.html" title="">Objects</a></li>
                    </ul>
                '
        }}

        {{> components/c002-image-content-cta
                id='jquery'
                img1-url='https://cdn4.iconfinder.com/data/icons/logos-3/504/javascript-128.png'
                img1-alt=''
                img1-class=''
                heading-primary='jQuery'
                heading-secondary='Code demonstations using jQuery'
                body-content='
                    <p>Very simple maths functions up to AJAX data requests and the manipulation of the returned JSON data.</p>
                    <h3 class="mt-5 h3-responsive">Links</h3>
                    <ul>
                        <li class=""><a href="jquery/ajax.html" title="">Ajax Static</a></li>
                        <li class=""><a href="jquery/ajax-json.html" title="">Ajax Json</a></li>
                        <li class=""><a href="jquery/ajax-promise.html" title="">Ajax Promise</a></li>
                    </ul>
                '
        }}


{{!-- ------- --}}
{{!-- DIVIDER --}}
{{!-- ------- --}}
{{> components/c004-divider }}

    {{/inline}}

    {{#*inline "footer-block"}}
        {{> components/footer
            body-content='
            <ul class="list-inline my-0">
                <li class="list-inline-item">BPK | EHWHAT</li>
            </ul>
            '
        }}
    {{/inline}}

{{/layouts/starter}}
