{{!-- pages/react/static.hbs --}}

{{#> layouts/base title="Add | React" }}

    {{#*inline "header-block"}}
        {{#> components/header
             brand='React'
        }}
            {{> components/header__point--external
                    point-title='Static'
                    point-href='static.html'
            }}
            {{> components/header__point--external
                    point-title='Inline Props'
                    point-href='inline.html'
            }}
            {{> components/header__point--external
                    point-title='Array'
                    point-href='array.html'
            }}
            {{> components/header__point--external
                    point-title='Dynamic Grid'
                    point-href='dynamic.html'
            }}
            {{> components/header__point--external
                    point-title='Toggle State'
                    point-href='state.html'
            }}
            {{> components/header__point
                    point-title='Add Items'
                    point-href='add'
            }}
            {{> components/header__point--external
                    point-title='Add or Remove Items'
                    point-href='addremove.html'
            }}
            {{> components/header__point--external
                    point-title='CV'
                    point-href='cv.html'
            }}
        {{/components/header}}
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> sublayouts/grid1
                id='add'
        }}
            {{> components/c001-basic-content
                    heading-primary='React'
                    heading-secondary='Add'
                    body-content='
                    <p>???</p>
                    '
            }}
        {{/sublayouts/grid1}}

        {{#> sublayouts/grid1 }}
            <!-- TARGET TO RENDER THE MARKUP -->
            <div id="book-shelf-3" class="fakeshelf"></div>
        {{/sublayouts/grid1}}

{{!-- ------- --}}
{{!-- DIVIDER --}}
{{!-- ------- --}}
{{> components/c004-divider }}

    {{/inline}}

    {{#*inline "footer-block"}}
        {{> components/footer
                body-content='
                <ul class="list-inline my-0">
                    <li class="list-inline-item"><a href="../index.html">Home</a></li>
                </ul>
            '
        }}
    {{/inline}}

    {{#*inline "scripts-block"}}
        {{> includes/scripts-react }}
        <script src="{{domainprefix}}js/react/react-add.js?v{{version}}" type="text/babel"></script>
    {{/inline}}

{{/layouts/base}}
