{{!-- pages/react/static.hbs --}}

{{#> layouts/base title="Add or Remove | React" }}

    {{#*inline "header-block"}}
        {{#> components/header
             brand='React'
        }}
            {{> components/header__point--external
                    point-title='Static'
                    point-href='static.html'
            }}
            {{> components/header__point--external
                    point-title='Inline Props'
                    point-href='inline.html'
            }}
            {{> components/header__point--external
                    point-title='Array'
                    point-href='array.html'
            }}
            {{> components/header__point--external
                    point-title='Dynamic Grid'
                    point-href='dynamic.html'
            }}
            {{> components/header__point--external
                    point-title='Toggle State'
                    point-href='state.html'
            }}
            {{> components/header__point--external
                    point-title='Add Items'
                    point-href='add.html'
            }}
            {{> components/header__point
                    point-title='Add or Remove Items'
                    point-href='addremove'
            }}
            {{> components/header__point--external
                    point-title='CV'
                    point-href='cv.html'
            }}
        {{/components/header}}
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> sublayouts/grid1
                id='addremove'
        }}
            {{> components/c001-basic-content
                    heading-primary='React'
                    heading-secondary='Add or remove'
                    body-content='
                    <p>Ability too remove a <code>&lt;Book /&gt;</code>.</p>
                    <h3 class="mt-5">Details</h3>
                    <p>Same as <a href="add.html">previous example</a> except now you can delete an item in the array.</p>
                    <h3 class="mt-5">React features</h3>
                    <ul class="">
                        <li class=""><strong>Component/s:</strong>
                            <ul>
                                <li><code>&lt;BookShelf /&gt;</code></li>
                                <li><code>&lt;Book /&gt;</code></li>
                                <li><code>&lt;AddBookForm /&gt;</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Data:</strong>
                            <ul>
                                <li><code>Static</code></li>
                                <li><code>Hardcoded</code></li>
                                <li><code>Inline</code></li>
                                <li><code>Array</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Methods:</strong>
                            <ul>
                                <li><code>_getBooks()</code></li>
                                <li><code>_getNumberOfBooksTitle()</code></li>
                                <li><code>_handleClick()</code></li>
                                <li><code>_addBook()</code></li>
                                <li><code>_deleteBook()</code></li>
                                <li><code>_fetchBooks()</code></li>
                                <li><code>_handleDelete()</code></li>
                                <li><code>_handleSubmit()</code></li>
                            </ul>
                        </li>
                    </ul>
                    '
            }}
        {{/sublayouts/grid1}}

        {{#> sublayouts/grid-wide }}
            {{#> sublayouts/grid-wide__col12 }}
                <!-- TARGET TO RENDER THE MARKUP -->
                <div id="book-shelf-7" class="fakeshelf"></div>
            {{/sublayouts/grid-wide__col12}}
        {{/sublayouts/grid-wide}}

{{!-- ------- --}}
{{!-- DIVIDER --}}
{{!-- ------- --}}
{{> components/c004-divider }}

    {{/inline}}

    {{#*inline "footer-block"}}
        {{> components/footer
                body-content='
                <ul class="list-inline my-0">
                    <li class="list-inline-item"><a href="../index.html">Home</a></li>
                </ul>
            '
        }}
    {{/inline}}

    {{#*inline "scripts-block"}}
        {{> includes/scripts-react }}
        <script src="{{domainprefix}}js/react/react-addremove.js?v{{version}}" type="text/babel"></script>
    {{/inline}}

{{/layouts/base}}
