{{!-- pages/react/static.hbs --}}

{{#> layouts/base title="CV Full | React" }}

    {{#*inline "main-block"}}

        <style>

        </style>

        <!-- TARGET TO RENDER THE MARKUP -->
        <div id="root"></div>

    {{/inline}}

    {{#*inline "scripts-block"}}
        {{> includes/scripts-react }}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{domainprefix}}js/react/react-cv-full.js?v{{version}}" type="text/babel"></script>
    {{/inline}}

{{/layouts/base}}
