{{!-- pages/react/static.hbs --}}

{{#> layouts/base title="CV | React" }}

    {{#*inline "header-block"}}
        {{#> components/header
             brand='React'
        }}
            {{> components/header__point--external
                    point-title='Static'
                    point-href='static.html'
            }}
            {{> components/header__point--external
                    point-title='Inline Props'
                    point-href='inline.html'
            }}
            {{> components/header__point--external
                    point-title='Array'
                    point-href='array.html'
            }}
            {{> components/header__point--external
                    point-title='Dynamic Grid'
                    point-href='dynamic.html'
            }}
            {{> components/header__point--external
                    point-title='Toggle State'
                    point-href='state.html'
            }}
            {{> components/header__point--external
                    point-title='Add Items'
                    point-href='add.html'
            }}
            {{> components/header__point--external
                    point-title='Add or Remove Items'
                    point-href='addremove.html'
            }}
            {{> components/header__point
                    point-title='CV'
                    point-href='cv'
            }}
        {{/components/header}}
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> sublayouts/grid1
                id='cv'
        }}
            {{> components/c001-basic-content
                    heading-primary='React'
                    heading-secondary='CV'
                    body-content='
                    <p>Multiple React components.</p>
                    <p><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> A lot of the content here is very out of date so this is not my
                    official CV.</p>
                    <h3 class="mt-5">Details</h3>
                    <p>Basic static content example but uses multiple React components to seperate sections. <strong>Intro</strong>, <strong>Summary</strong>,
                    <strong>Education</strong> and <strong>Interests</strong> are hardcoded content
                    within the app and use no templating. <strong>KeySkills</strong> and <strong>OtherSkills</strong> point to their own array of data, in this case a list of skills and for every item in
                    the array creates a new entry within that section. <strong>WorkExp</strong> makes use a of repeatable React component with the data being passed inline to each instance
                    .</p>
                    <h3 class="mt-5">React features</h3>
                    <ul class="">
                        <li class=""><strong>Component/s:</strong>
                            <ul>
                                <li><code>&lt;Intro /&gt;</code></li>
                                <li><code>&lt;Summary /&gt;</code></li>
                                <li><code>&lt;KeySkills /&gt;</code></li>
                                <li><code>&lt;OtherSkills /&gt;</code></li>
                                <li><code>&lt;WorkExp /&gt;</code></li>
                                <li><code>&lt;Education /&gt;</code></li>
                                <li><code>&lt;Interests /&gt;</code></li>
                                <li><code>&lt;Skill /&gt;</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Data:</strong>
                            <ul>
                                <li><code>Static</code></li>
                                <li><code>Hardcoded</code></li>
                                <li><code>Inline</code></li>
                                <li><code>Array</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Methods:</strong>
                            <ul>
                                <li><code>_getSkills()</code></li>
                            </ul>
                        </li>
                    </ul>
                    '
            }}
        {{/sublayouts/grid1}}

{{!-- ------- --}}
{{!-- DIVIDER --}}
{{!-- ------- --}}
{{> components/c004-divider }}

        {{#> sublayouts/grid1 }}
                <!-- TARGET TO RENDER THE MARKUP -->
                <div id="cvTarget" class="cv"></div>
        {{/sublayouts/grid1}}

{{!-- ------- --}}
{{!-- DIVIDER --}}
{{!-- ------- --}}
{{> components/c004-divider }}

    {{/inline}}

    {{#*inline "footer-block"}}
        {{> components/footer
                body-content='
                <ul class="list-inline my-0">
                    <li class="list-inline-item"><a href="../index.html">Home</a></li>
                </ul>
            '
        }}
    {{/inline}}

    {{#*inline "scripts-block"}}
        {{> includes/scripts-react }}
        <script src="{{domainprefix}}js/react/react-cv.js?v{{version}}" type="text/babel"></script>
    {{/inline}}

{{/layouts/base}}
