{{!-- pages/react/static.hbs --}}

{{#> layouts/base title="Dynamic grid | React" }}

    {{#*inline "header-block"}}
        {{#> components/header
             brand='React'
        }}
            {{> components/header__point--external
                    point-title='Static'
                    point-href='static.html'
            }}
            {{> components/header__point--external
                    point-title='Inline Props'
                    point-href='inline.html'
            }}
            {{> components/header__point--external
                    point-title='Array'
                    point-href='array.html'
            }}
            {{> components/header__point
                    point-title='Dynamic Grid'
                    point-href='dynamic'
            }}
            {{> components/header__point--external
                    point-title='Toggle State'
                    point-href='state.html'
            }}
            {{> components/header__point--external
                    point-title='Add Items'
                    point-href='add.html'
            }}
            {{> components/header__point--external
                    point-title='Add or Remove Items'
                    point-href='addremove.html'
            }}
            {{> components/header__point--external
                    point-title='CV'
                    point-href='cv.html'
            }}
        {{/components/header}}
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> sublayouts/grid1
                id='dynamic'
        }}
            {{> components/c001-basic-content
                    heading-primary='React'
                    heading-secondary='Dynamic grid'
                    body-content='
                    <p>Array example with a dynamic grid</p>
                    <h3 class="mt-5">Details</h3>
                    <p>Same as <a href="array.html">Array example</a> but with added dynamic grid classes to adjust size of each book card depending on number of books.</p>
                    <p><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> Only issue is that with a hardcoded array i need to
                    change the code everytime to show this. For example if there were 3 books the grid would be <code>col-6 col-sm-4 col-md-4 col-lg-4</code>, but
                    with 8 items like we have it will be <code>col-6 col-sm-6 col-md-3 col-lg-2</code>.</p>
                    <h3 class="mt-5">React features</h3>
                    <ul class="">
                        <li class=""><strong>Component/s:</strong>
                            <ul>
                                <li><code>&lt;BookShelf /&gt;</code></li>
                                <li><code>&lt;Book /&gt;</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Data:</strong>
                            <ul>
                                <li><code>Static</code></li>
                                <li><code>Hardcoded</code></li>
                                <li><code>Array</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Methods:</strong>
                            <ul>
                                <li><code>_getBooks()</code></li>
                                <li><code>_getNumberOfBooksTitle()</code></li>
                            </ul>
                        </li>
                    </ul>
                    '
            }}
        {{/sublayouts/grid1}}

        {{#> sublayouts/grid-wide }}
            {{#> sublayouts/grid-wide__col12 }}
                <!-- TARGET TO RENDER THE MARKUP -->
                <div id="book-shelf-4" class="fakeshelf"></div>
            {{/sublayouts/grid-wide__col12}}
        {{/sublayouts/grid-wide}}

{{!-- ------- --}}
{{!-- DIVIDER --}}
{{!-- ------- --}}
{{> components/c004-divider }}

    {{/inline}}

    {{#*inline "footer-block"}}
        {{> components/footer
                body-content='
                <ul class="list-inline my-0">
                    <li class="list-inline-item"><a href="../index.html">Home</a></li>
                </ul>
            '
        }}
    {{/inline}}

    {{#*inline "scripts-block"}}
        {{> includes/scripts-react }}
        <script src="{{domainprefix}}js/react/react-dynamic.js?v{{version}}" type="text/babel"></script>
    {{/inline}}

{{/layouts/base}}
