{{!-- pages/react/static.hbs --}}

{{#> layouts/base title="Inline Props | React" }}

    {{#*inline "header-block"}}
        {{#> components/header
             brand='React'
        }}
            {{> components/header__point--external
                    point-title='Static'
                    point-href='static.html'
            }}
            {{> components/header__point
                    point-title='Inline Props'
                    point-href='inline'
            }}
            {{> components/header__point--external
                    point-title='Array'
                    point-href='array.html'
            }}
            {{> components/header__point--external
                    point-title='Dynamic Grid'
                    point-href='dynamic.html'
            }}
            {{> components/header__point--external
                    point-title='Toggle State'
                    point-href='state.html'
            }}
            {{> components/header__point--external
                    point-title='Add Items'
                    point-href='add.html'
            }}
            {{> components/header__point--external
                    point-title='Add or Remove Items'
                    point-href='addremove.html'
            }}
            {{> components/header__point--external
                    point-title='CV'
                    point-href='cv.html'
            }}
        {{/components/header}}
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> sublayouts/grid1
                id='inline'
        }}
            {{> components/c001-basic-content
                    heading-primary='React'
                    heading-secondary='Inline properties'
                    body-content='
                    <p>In this example i will pass in data from inline properties.</p>
                    <h3 class="mt-5">Details</h3>
                    <p>The change here is that the data/state being used is passed in via inline properties, this means i can reuse the existing <code>&lt;Book /&gt;</code>
                     component with new information.</p>
                    <h3 class="mt-5">React features</h3>
                    <ul class="">
                        <li class=""><strong>Component/s:</strong>
                            <ul>
                                <li><code>&lt;BookShelf /&gt;</code></li>
                                <li><code>&lt;Book /&gt;</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Data:</strong>
                            <ul>
                                <li><code>Static</code></li>
                                <li><code>Hardcoded</code></li>
                                <li><code>Inline</code></li>
                            </ul>
                        </li>
                    </ul>
                    '
            }}
        {{/sublayouts/grid1}}

        {{#> sublayouts/grid1 }}
            <!-- TARGET TO RENDER THE MARKUP -->
            <div id="book-shelf-2" class="fakeshelf"></div>
        {{/sublayouts/grid1}}

{{!-- ------- --}}
{{!-- DIVIDER --}}
{{!-- ------- --}}
{{> components/c004-divider }}

    {{/inline}}

    {{#*inline "footer-block"}}
        {{> components/footer
                body-content='
                <ul class="list-inline my-0">
                    <li class="list-inline-item"><a href="../index.html">Home</a></li>
                </ul>
            '
        }}
    {{/inline}}

    {{#*inline "scripts-block"}}
        {{> includes/scripts-react }}
        <script src="{{domainprefix}}js/react/react-inline.js?v{{version}}" type="text/babel"></script>
    {{/inline}}

{{/layouts/base}}
