{{!-- pages/react/static.hbs --}}

{{#> layouts/base title="Toggle State | React" }}

    {{#*inline "header-block"}}
        {{#> components/header
             brand='React'
        }}
            {{> components/header__point--external
                    point-title='Static'
                    point-href='static.html'
            }}
            {{> components/header__point--external
                    point-title='Inline Props'
                    point-href='inline.html'
            }}
            {{> components/header__point--external
                    point-title='Array'
                    point-href='array.html'
            }}
            {{> components/header__point--external
                    point-title='Dynamic Grid'
                    point-href='dynamic.html'
            }}
            {{> components/header__point
                    point-title='Toggle State'
                    point-href='state'
            }}
            {{> components/header__point--external
                    point-title='Add Items'
                    point-href='add.html'
            }}
            {{> components/header__point--external
                    point-title='Add or Remove Items'
                    point-href='addremove.html'
            }}
            {{> components/header__point--external
                    point-title='CV'
                    point-href='cv.html'
            }}
        {{/components/header}}
    {{/inline}}

    {{#*inline "main-block"}}

        {{#> sublayouts/grid1
                id='state'
        }}
            {{> components/c001-basic-content
                    heading-primary='React'
                    heading-secondary='Toggle state'
                    body-content='
                    <p>Show and hide using a new method.</p>
                    <h3 class="mt-5">Details</h3>
                    <p>Same set up as <a href="dynamic.html">previous example with a dynamic grid</a> depending upon the number of books in the array. I have now added a new
                    <code>_handleClick()
                    </code> method and assigned to the button to change the <code>state</code> of the React app. If there we less books in the hardcoded static array then
                    the cards would appear larger and the parent grid classes would change.</p>
                    <ul class="">
                        <li class=""><strong>Component/s:</strong>
                            <ul>
                                <li><code>&lt;BookShelf /&gt;</code></li>
                                <li><code>&lt;Book /&gt;</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Data:</strong>
                            <ul>
                                <li><code>Static</code></li>
                                <li><code>Hardcoded</code></li>
                                <li><code>Array</code></li>
                            </ul>
                        </li>
                        <li class=""><strong>Methods:</strong>
                            <ul>
                                <li><code>_getBooks()</code></li>
                                <li><code>_getNumberOfBooksTitle()</code></li>
                                <li><code>_handleClick()</code></li>
                            </ul>
                        </li>
                    </ul>
                    '
            }}
        {{/sublayouts/grid1}}

        {{#> sublayouts/grid-wide }}
            {{#> sublayouts/grid-wide__col12 }}
                <!-- TARGET TO RENDER THE MARKUP -->
                <div id="book-shelf-5" class="fakeshelf"></div>
            {{/sublayouts/grid-wide__col12}}
        {{/sublayouts/grid-wide}}

{{!-- ------- --}}
{{!-- DIVIDER --}}
{{!-- ------- --}}
{{> components/c004-divider }}

    {{/inline}}

    {{#*inline "footer-block"}}
        {{> components/footer
                body-content='
                <ul class="list-inline my-0">
                    <li class="list-inline-item"><a href="../index.html">Home</a></li>
                </ul>
            '
        }}
    {{/inline}}

    {{#*inline "scripts-block"}}
        {{> includes/scripts-react }}
        <script src="{{domainprefix}}js/react/react-state.js?v{{version}}" type="text/babel"></script>
    {{/inline}}

{{/layouts/base}}
